<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img src="/img/weather.png" class="img-about">

        <h2>CloudCast</h2>
        <p>
            Welcome to our weather web application <b>CloudCast</b>, the most comprehensive and accurate weather source available online.
            Our application provides you with up-to-date information on local and global weather conditions, with a
            user-friendly interface that makes it easy to understand the data.
            <br>
            <br>
            With the help of advanced technology and a team of expert meteorologists, our weather application delivers
            the most accurate weather forecasts and alerts. Whether you are a professional or a casual weather
            enthusiast, you will find all the information you need to stay informed about the latest weather patterns
            and trends.
            <br>
            <br>
            Our application covers a wide range of weather data, including temperature, humidity, wind speed,
            precipitation, and more. With interactive maps and real-time updates, you can easily track the latest
            weather conditions in your area and around the world.
            {{!-- <br> 
            <br>  --}}
            {{!-- We also offer a variety of customization options, so you can personalize your weather experience to fit your
            needs. Whether you want to receive weather updates for specific locations or receive alerts for severe
            weather conditions, our application has you covered. --}}
            <br> 
            <br> 
            So why wait? Use our weather web application today and stay ahead of the weather. With up-to-date
            information and a user-friendly interface, you will always be prepared for whatever the weather has in
            store.
        </p>
    </div>

    {{>footer}}

</body>

</html>