<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body id="body">
    <div class="main-content">
        {{>header}}
        <p>Use CloudCast to get your weather!</p>

        <form>
            {{!-- <input placeholder="Location"> --}}
            {{!-- <button>Search</button> --}}

            <div class="search-box">
                <input class="search-txt" type="text" name="" placeholder="Type to Search">
                <button class="search-btn"" >
                    <i class=" fas fa-search"></i>
                </button>
            </div>
        </form>

        <div id="imgDiv">
            <h1 id="degree"></h1>
            {{!-- Icon will be dynamically inserted here --}}
        </div>
        <p id="message-1"></p>
        <p id="message-2"></p>



    </div>
    {{>footer}}

    <script src="/js/constants.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>